---
# tasks file for mongodb_repository (Debian os_family)
- name: Install debian packages
  apt:
    name: "{{ debian_packages }}"
    state: present
  register: _apt
  until: _apt is succeeded
  retries: 5
  tags:
    - "pkg"
    - "setup"
    - "debian"

- name: Add apt key for MongoDB repository
  shell: |
    curl -fsSL https://www.mongodb.org/static/pgp/server-{{ mongodb_version }}.asc | \
    gpg -o /usr/share/keyrings/mongodb-server-{{ mongodb_version }}.gpg --dearmor
  args:
    creates: /usr/share/keyrings/mongodb-server-{{ mongodb_version }}.gpg
  register: _apt
  until: _apt is succeeded
  retries: 5
  tags:
    - "pkg"
    - "setup"
    - "mongodb"
    - "debian"

- name: Ensure MongoDB apt repository exists
  apt_repository:
    repo: "{{ debian.apt_repository_repo }}"
    state: present
    filename: "mongodb-{{ mongodb_version }}"
  register: _apt
  until: _apt is succeeded
  retries: 5
  tags:
    - "pkg"
    - "setup"
    - "mongodb"
    - "debian"
