---
- name: Prepare
  hosts: all
  gather_facts: true

  tasks:

    - name: Update the APT cache on Debian-based systems
      ansible.builtin.apt:
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install procps
      ansible.builtin.package:
        name: "procps"
      when: ansible_os_family == "Debian"
        