---
- name: Converge
  hosts: all
  roles:
    - role: mongodb_repository
    - role: mongodb_install
    - role: mongodb_mongod

  environment:
    ANSIBLE_LIBRARY: ../../../plugins/modules/

  tasks:

    - name: Install python stuff
      package:
        name: ["python-setuptools", "python-pip"]
      when: ansible_hostname == "ubuntu_16"

    - name: Install pymongo
      pip:
        name: pymongo
      when: ansible_hostname == "ubuntu_16"

    - name: Init replicaset
      mongodb_replicaset:
        login_host: localhost
        login_port: 27018
        replica_set: rs0
        validate: yes
        members:
          - ubuntu_16:27018
          - ubuntu_18:27018
          - debian_stretch:27018
      when: ansible_hostname == "ubuntu_16"

    - name: Create admin user if authorization is enabled
      mongodb_user:
        login_user: "{{ mongodb_admin_user }}"
        login_password: "{{ mongodb_admin_pwd }}"
        name: "{{ mongodb_admin_user }}"
        password: "{{ mongodb_admin_pwd }}"
        database: admin
        login_port: "{{ mongod_port }}"
        roles:
          - "root"
      when:
        - authorization == "enabled"
        - ansible_hostname == "ubuntu_16"
