---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
  options:
    config-data:
      line-length: disable
platforms:
  - name: almalinux_8
    image: almalinux:8
  - name: ubuntu_18
    image: ubuntu:18.04
  - name: ubuntu_22
    image: ubuntu:22.04
  - name: debian_bullseye
    image: debian:bullseye
  - name: fedora
    image: fedora:37
provisioner:
  name: ansible
  lint:
    name: ansible-lint
    enabled: false
  inventory:
    host_vars:
      debian_bullseye:
        ansible_python_interpreter: /usr/bin/python3
verifier:
  name: testinfra
  lint:
    name: flake8
    options:
      ignore: 'E501'
