name: documentation

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v1
      
      - name: Install ansible-base (devel)
        run: pip install https://github.com/ansible/ansible/archive/devel.tar.gz --disable-pip-version-check
      
      - name: Build collection
        run: ansible-galaxy collection build .
      
      - name: Install collection
        run: ansible-galaxy collection install community-mongodb-*.tar.gz

      - name: Build documentation from modules
        run: |
          mkdir -p docs
          echo "# MongoDB Ansible Modules Documentation" > docs/index.md
          find plugins/modules -type f -name 'mongodb_*.py' -exec bash -c 'echo "- [$(basename "{}" ".py")]($(basename {} .py).md)"' \; >> docs/index.md
          find plugins/modules -type f -name 'mongodb_*.py' -exec bash -c 'ansible-doc -M $(dirname "{}") -t module community.mongodb.$(basename "{}" ".py") > "docs/$(basename "{}" ".py").md"' \;

      - name: Deploy
        if: success()
        uses: crazy-max/ghaction-github-pages@v1
        with:
          target_branch: gh-pages
          build_dir: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
